@model IEnumerable<WebApplication2.Models.Celular>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

@Html.ActionLink("Cadastrar novo Celular", "Create", null, new { @class = "btn btn-outline-info" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Novo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Exibir Detalhes", "Exibir", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) }, new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Excluir", "Delete", new { id = Model.ToList<WebApplication2.Models.Celular>().IndexOf(item) }, new { @class = "btn btn-outline-info" })
            </td>
        </tr>
    }

</table>
